.serviceSupports {
  width: max-content !important;
  gap: 0px 68px;
  label {
    span {
      white-space: nowrap !important;
    }
  }
}
.cancel {
  color: #ababb1;
  padding: 8px 16px;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  &:hover {
    color: #f25a5a !important;
  }
}
.save {
  color: #fff;
  background: #12b76a;
  padding: 8px 16px;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  &:disabled {
    color: #fff;
    background: #2e443a;
  }
}

.group {
  background: transparent;
  svg {
    path {
      fill: #e3f1ec;
    }
  }
  &.label {
    margin-bottom: 24px;
  }
  [class*="ant-form-item-label"] {
    label {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #ababb1;
      &::before {
        position: absolute;
        margin-inline-end: 0 !important;
        right: -10px;
        bottom: 1em;
        color: #ababb1 !important;
        font-family: inherit !important;
      }
    }
  }
  [class*="ant-form-item-explain-error"] {
    margin-top: 3px;
  }

  [class*="ant-picker-input"] {
    input {
      &::placeholder {
        color: white;
      }
    }
  }
}
.customRadio {
  color: #fff;
  margin-bottom: 24px;
  [class*="ant-radio-checked"] {
    [class*="ant-radio-inner"] {
      border-color: #f4e85b;
      &::after {
        background-color: #f4e85b;
      }
    }
  }
  [class*="ant-radio-inner"] {
    border-color: #fff;
    background-color: transparent;
    &:hover {
      border-color: #fff;
      background-color: transparent;
    }
  }
}

.draft {
  color: #12b76a !important;
  border-color: #12b76a !important;
  background-color: transparent;
  padding: 8px 16px;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  &:hover {
    color: #12b76a;
    border-color: #12b76a;
    background-color: transparent;
  }
}