.filters {
  .ant-picker {
    border: 1px solid #ffffff;
    background: linear-gradient(324deg, #0b0b0b 38.44%, #161a18 85.8%);
    input {
      color: #ffffff;
    }
    span {
      color: #ffffff;
    }
  }
  .ant-picker-input {
    input {
      color: white;
    }
    .ant-picker-clear {
        background: none;
    }
  }
}
