.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ababb1;
  margin-bottom: 12px;
}
.groupButton {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 36px;
  justify-content: center;
  .btnConfirm {
    width: 184px;
  }
  .btnCancel {
    width: 184px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f7ef82;
    height: 44px;
    cursor: pointer;
  }
}
