.custom-checkbox {
  &.ant-form-item {
    margin-bottom: 0;
  }
  label {
    color: #fff;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: transparent;
    border-color: #fff;
  }

  .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
    .ant-checkbox-checked:not(.ant-checkbox-disabled)
    .ant-checkbox-inner {
    background-color: transparent;
    border-color: #fff;
  }
  .ant-checkbox .ant-checkbox-inner {
    background-color: transparent;
    border-color: #fff;
  }
  .ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
  :where(.css-dev-only-do-not-override-1yutinf).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
    border-color: #fff;
  }
}
