.serviceSupports {
  width: max-content !important;
  gap: 0px 68px;
  label {
    span {
      white-space: nowrap !important;
    }
  }
}
.cancel {
  color: #ababb1;
  padding: 8px 16px;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  &:hover {
    color: #f25a5a !important;
  }
}
.warning {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #f25a5a;
}
.save {
  color: #fff;
  background: #12b76a;
  padding: 8px 16px;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  &:disabled {
    color: #fff;
    background: #2e443a;
  }
}
.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ababb1;
  margin-bottom: 16px;
}
.title::after {
  content: "*";
  color: #ababb1;
  margin-left: 2px;
}

.storeStatusBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  .storeIdBox {
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #ababb1;
    span {
      color: #ffff;
      margin-left: 5px;
    }
  }

  .storeStatus {
    span {
      color: #fff;
      font-weight: 500;
    }
  }
}

.checkBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  label {
    flex: 1;
    width: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    margin-inline-start: 0 !important;
    color: #fff;
    span {
      color: #ababb1;
      white-space: break-spaces;
    }
    [class*="ant-checkbox "] {
      transform: none;
      align-self: center;
    }
    input[type="checkbox"] {
      width: 16px;
      height: 16px;
    }
    &[class*="ant-checkbox-checked"] {
      [class*="ant-checkbox-inner"] {
        background-color: #469175 !important;
      }
    }
    [class*="ant-checkbox-inner"] {
      width: 18px;
      height: 18px;
    }
  }
}

.preFix {
  font-weight: 500;
}
