.container {
  padding: 20px 0 40px;
}
.img {
  width: auto;
  height: auto;
  max-width: 60px;
  max-height: 60px;
  cursor: pointer;
}
.group {
  padding: 20px 20px 50px;
  border-bottom: 2px solid #444;
  text-align: left;
}
.title {
  border-bottom: 1px solid #444;
  width: max-content;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.box {
  display: flex;
  width: 60px;
  height: 60px;
  background: white;
  justify-content: center;
  align-items: center;
  margin: 5px;
  box-sizing: border-box;
}
