.customModal {
  [class*="ant-modal-content"] {
    background: linear-gradient(#fdcd9d 100%, #f7ef82 100%);
    padding: 1px;
    border-radius: 20px;
  }
  .content {
    padding: 32px 24px;
  }
  [class*="ant-modal-body"] {
    border-radius: 20px;
    backdrop-filter: blur(12px);
    background: linear-gradient(324deg, rgba(11, 11, 11, 1) 38.44%, rgba(22, 26, 24, 1) 85.8%);
  }
  [class*="ant-modal-footer"] {
    margin-top: 0;
  }
  [class*="ant-modal-close"] {
    display: none;
  }
  .title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
  }
}
