.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    text-align: left;
    color: #fff;
  }
  .actions {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }
  .note {
    position: absolute;
    color: #fff;
    bottom: -25px;
    font-size: 15px;

    span {
      background: -webkit-linear-gradient(94.22deg, #fdcd9d 0%, #f7ef82 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
