.wrapper {
  .titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      flex: 1;
    }
    .addProductBtn {
      width: fit-content;
    }
  }
  .inputSearch {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 1px solid #7b7b84;
    border-radius: 8px;
    height: 44px;
    width: 100%;
    background: transparent;
    color: #fff !important;
    [class*="ant-input-password-icon"] {
      color: #ababb1;
      display: flex;
      align-items: center;
      margin-inline-start: 4px;
    }
  }
  .productPanel {
    .customTab {
      width: 128px;
    }
    .tabContent {
      margin-top: 12px;
    }

    .paginationWrapper {
      position: absolute;
      top: 10px;
      right: 0;
    }
  }
}
.checkbox {
  cursor: pointer;
  .outlineIcon {
    svg {
      width: 20px;
      height: 20px;
      path {
        fill: #ababb1;
      }
    }
  }
}
.product {
  display: flex;
  align-items: center;
  img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
  }
  .productName {
    margin-left: 8px;
  }
}
.actions {
  display: flex;
  align-items: center;
  div {
    cursor: pointer;
    margin: 0 10px;

    &.edit {
      &:hover {
        svg {
          width: 20px;
          height: 20px;
          path {
            fill: #ffffff;
          }
        }
      }
      svg {
        width: 20px;
        height: 20px;
        path {
          fill: #c3c3c3;
        }
      }
    }
    &.delete {
      &:hover {
        svg {
          width: 20px;
          height: 20px;
          path {
            stroke: #ffffff;
          }
        }
      }
    }
  }
}

.pointer {
  cursor: pointer;
}

.titleModalChooseStore {
  font-size: 18px !important;
}

.textAvailable {
  color: #ababb1;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-top: 24px;
  margin-bottom: 6px;
}
.buttonText {
  color: #ababb1;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  &:hover {
    color: #ababb1 !important;
  }
}

.buttonGreen {
  background: #12b76a;
  border-radius: 8px;
  padding: 8px 16px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  height: 36px;
  border: none;
  &:hover {
    color: #ffffff !important;
  }
}

.bottomModal {
  height: 30px;
}
.groupButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.textInactive {
  color: #f25a5a;
}

.textActive {
  color: #12b76a;
}

.detail {
  margin-top: 22px;
  background: #212124;
  border-radius: 16px;
  padding: 24px;
  .wrapper_detail {
    flex-direction: column;
    .text1 {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #ababb1;
      margin-bottom: 12px;
    }
    .text2 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      margin-bottom: 24px;
    }
  }
}

.group {
  background: transparent;
  svg {
    path {
      fill: #e3f1ec;
    }
  }
  &.label {
    margin-bottom: 24px;
  }
  [class*="ant-form-item-label"] {
    label {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #ababb1;
      &::before {
        position: absolute;
        margin-inline-end: 0 !important;
        right: -10px;
        bottom: 1em;
        color: #ababb1 !important;
        font-family: inherit !important;
      }
    }
  }
  [class*="ant-form-item-explain-error"] {
    margin-top: 3px;
  }

  [class*="ant-picker-input"] {
    input {
      &::placeholder {
        color: white;
      }
    }
  }
}

.cancel {
  border-color: #fdcd9d;
  background-color: transparent;
  padding: 8px 16px;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.draft {
  color: #12b76a;
  border-color: #12b76a;
  background-color: transparent;
  padding: 8px 16px;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.save {
  color: #fff;
  background: #12b76a;
  padding: 8px 16px;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.deleteProduct {
  display: flex;
  align-items: center;
  justify-content: center;

  .deleteIcon {
    cursor: pointer;
  }
}

.productItemContent {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
  display: block;
  margin-top: 10px;
}

.loading {
  position: fixed;
  top: 0;
  inset-inline-end: 0;
  bottom: 0;
  inset-inline-start: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}
